[submodule "themes/event"] 
	path = themes/event
	url = https://github.com/medialesson/hugo-theme-event.git
	branch = main
[submodule "themes/osm"]
	path = themes/osm
	url = https://github.com/Hanzei/hugo-component-osm.git
